<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Title</key>
			<string>通行证</string>
			<key>Image</key>
			<string>通行证</string>
			<key>CellClass</key>
			<string>CPAcountTableViewCell</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>产品到期日</string>
			<key>Image</key>
			<string>产品到期日</string>
			<key>CellClass</key>
			<string>CPAcountTableViewCell</string>
		</dict>
	</array>
	<array/>
</array>
</plist>
